<div class="small-header"></div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 padded">
    Email:<br>
    jeremiahkellick@gmail.com<br><br>

    Phone:<br>
    (814) 573-7139<br><br>

    <h1 class="bold">Quote Form</h1><br>
    <%= show_flashes %>
    <%= form_for(@quote_request, url: contact_path) do |f| %>
      <% if @quote_request.errors.any? %>
        <%= show_errors(@quote_request.errors.full_messages) %>
      <% end %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %><br>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %><br>

      <%= f.label :website, "Optional: Enter the link to your current website." %>
      <%= f.text_field :website, class: "form-control" %><br>

      <%= f.label :description, "Provide a description of what you want." %>
      <%= f.text_area :description, class: "form-control" %><br>
      
      <%= f.label :budget, "Project budget" %>
      <%= f.text_field :budget, class: "form-control" %><br>

      <%= recaptcha_tags %><br>

      <%= f.submit "Send quote request.", class: "btn btn-lg btn-primary form-control" %>
    <% end %>
  </div>
</div>