<div class="home-page-header">
    <h1 class="hero-text">Make a <span class="color2">great</span> first impression.</h1>
</div>
<div class="flex-space-around flex-wrap">
  <div class="padded"><%= image_tag 'search.svg', class: "display-image" %></div>
  <div class="width-50-percent padded">
    Most people search online before deciding where to buy. This means your website is often a person's first impression of your business. I can make you a website that will maximize the amount of viewers who choose your business.
  </div>
</div>
<div class="features-top-parent">
  <h1 class="color1-bg padded">1-up the competition. Make sure your website is:</h1>
  <div class="row padded-row flex-grow flex-center">
    <div class="flex-center flex-stretcher flex-wrap">
      <div class="col-md-6 col-lg-4">
        <div class="icon"><%= image_tag 'maintainable1.svg' %></div>
        <h1 class="center">Maintainable</h1>
        Having a web designer maintain all your website's information can be expensive. Manage content yourself through a CMS with an easy to use interface.
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icon"><%= image_tag 'responsive1.svg' %></div>
        <h1 class="center">Responsive</h1>
        Half of internet users are on a mobile device. It is critical for your website to function just as well on mobile devices as it does on desktops.
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="icon"><%= image_tag 'appealing1.svg' %></div>
        <h1 class="center">Appealing</h1>
        Keep your customers on your website by making sure it's nice to look at.
      </div>
    </div>
  </div>
</div>
<h1 class="basic-content-container color1-bg">
  Launch your web application.
</h1>
<div class="flex-space-around flex-wrap">
  <div class="width-50-percent padded mobile-order-2">
    If you need a website with dynamic, interactive features such as an online web store, a typical designer wouldn't be able to help you. However, I am a web developer as well as designer. I can add any dynamic features your business requires.
  </div>
  <div class="padded mobile-order-1"><%= image_tag 'rocket.svg', class: "display-image" %></div>
</div>
<div class="home-page-bottom flex-center center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="call-to-action">
        <h1 class="bold-header padded">Interested?</h1>
        <a href="<%= contact_path %>" class="btn btn-lg btn-primary h1">Get a free quote.</a>
        <br><br><br>
        <h1 class="bold-header padded">Still not sure?</h1>
        <a href="<%= about_path %>" class="btn btn-lg btn-primary  h1">Find out more about me.</a>
      </div>
    </div>
  </div>
</div>