<div class="home-page-top">
  <table class="table-center"><tr><td>
    <div class="text-box">
      <h1>Give your customers a <span class="color2">great</span> first impression.</h1>
    </div>
  </td></tr></table>
</div>
<div class="page-min-height large flex-center"><div>
  In most cases these days, your website is a person's first impression of your business. I create positive experiences for the viewers of your website, bringing you <span class="color1 bold">more customers.</span>
</div></div>
<div class="features-top-parent">
  <div class="large flex-center color1-bg"><div>
    <h1>1-up the competition. Make sure your website is:</h1>
  </div></div>
  <div class="row features flex-grow flex-center">
    <div class="col-md-6 col-lg-4"><div class="box">
        <%= image_tag 'maintainable.svg', class: 'icon-img' %>
        <h1 class="center">Maintainable</h1>
        Having a web designer maintain all your website's information can be expensive. Manage content yourself through a CMS with an easy to use interface.
    </div></div>
    <div class="col-md-6 col-lg-4"><div class="box">
        <%= image_tag 'responsive.svg', class: 'icon-img' %>
        <h1 class="center">Responsive</h1>
        Half of internet users are on a mobile device. It is critical for your website to function just as well on mobile devices as it does on desktops.
    </div></div>
    <div class="col-md-6 col-lg-4"><div class="box">
        <%= image_tag 'appealing.svg', class: 'icon-img' %>
        <h1 class="center">Appealing</h1>
        Keep your customers on your website by making sure it's nice to look at.
    </div></div>
  </div>
</div>
<div class="home-page-bottom">
  <table class="table-center"><tr><th>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="call-to-action">
          Interested?<br>
          <a href="<%= contact_path %>" class="btn btn-lg btn-primary">Get a free quote.</a>
          <br><br>
          Still not sure?
          <a href="<%= about_path %>" class="btn btn-lg btn-primary">Find out more about me.</a>
        </div>
      </div>
    </div>
  </th></tr></table>
</div>