!!!
%html{:lang => "en"}
  %head
    %meta{ "http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %title= full_title(yield(:title))
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ name: "google-site-verification", 
           content: "3k_8C_Y7R1vrm9IxddrUdAsIaSnD7BgV3_2aDJvWm6w" }
    %meta{ name: "msvalidate.01", content: "0F2A4A18E4CADE2264CCBD7A62B1BEEF" }
    = description_tag(yield(:description))
    = render 'layouts/shim'
    = render 'layouts/favicon'
    %link{ href: "https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900",
           rel: "stylesheet"}
    = render 'layouts/rails_default'
  %body
    = render 'layouts/header'
    .no-overflow
      .container-fluid.content
        = yield
